In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("NYC_taxi_with_coordinates_weather.csv")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2942063 entries, 0 to 2942062
Data columns (total 36 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0.1           int64
 1   Unnamed: 0             int64
 2   index                  int64
 3   VendorID               int64
 4   tpep_pickup_datetime   object
 5   tpep_dropoff_datetime  object
 6   passenger_count        float64
 7   trip_distance          float64
 8   RatecodeID             float64
 9   store_and_fwd_flag     object
 10  PULocationID           int64
 11  DOLocationID           int64
 12  payment_type           int64
 13  fare_amount            float64
 14  extra                  float64
 15  mta_tax                float64
 16  tip_amount             float64
 17  tolls_amount           float64
 18  improvement_surcharge  float64
 19  total_amount           float64
 20  congestion_surcharge   float64
 21  airport_fee            float64
 22  trip_duraion           float64
 23  Plongitude             float64
 24  Platitude              float64
 25  Dlongitude             float64
 26  Dlatitude              float64
 27  pickup_date            object
 28  st_abb                 object
 29  st_code                int64
 30  date                   object
 31  stability              object
 32  tmin                   float64
 33  tmax                   float64
 34  tavg                   float64
 35  ppt                    float64
dtypes: float64(21), int64(8), object(7)
memory usage: 808.1+ MB

In [24]:
df

,Unnamed: 0.1,Unnamed: 0,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_duraion,Plongitude,Platitude,Dlongitude,Dlatitude,pickup_date,st_abb,st_code,date,stability,tmin,tmax,tavg,ppt
0,0,0,1850612,2,2023-10-01 00:00:00,2023-10-01 00:13:01,1.0,3.47,1.0,N,164,262,1,17.00,1.0,0.5,5.50,0.0,1.0,27.50,2.5,0.0,13.016667,-73.983625,40.743943,-73.945881,40.781658,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
1,1,1,1899716,2,2023-10-01 00:00:00,2023-10-01 00:06:50,4.0,1.36,1.0,N,141,163,1,8.60,1.0,0.5,1.00,0.0,1.0,14.60,2.5,0.0,6.833333,-73.957869,40.765242,-73.970258,40.762289,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
2,2,2,1615889,1,2023-10-01 00:00:01,2023-10-01 00:17:52,1.0,3.00,1.0,N,170,231,1,18.40,3.5,0.5,4.65,0.0,1.0,28.05,2.5,0.0,17.850000,-73.982724,40.750959,-73.999956,40.718017,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
3,3,3,1602363,2,2023-10-01 00:00:01,2023-10-01 00:23:41,3.0,3.66,1.0,N,262,262,1,23.30,1.0,0.5,7.08,0.0,1.0,35.38,2.5,0.0,23.666667,-73.946424,40.780918,-73.946197,40.781226,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
4,4,4,2110464,2,2023-10-01 00:00:02,2023-10-01 00:06:29,1.0,1.30,1.0,N,144,87,1,8.60,1.0,0.5,2.00,0.0,1.0,15.60,2.5,0.0,6.450000,-73.993795,40.720936,-74.009995,40.705331,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2942058,2942058,2942058,1617060,2,2023-10-27 13:28:03,2023-10-27 13:49:12,6.0,2.75,1.0,N,263,170,1,20.50,0.0,0.5,4.90,0.0,1.0,29.40,2.5,0.0,21.150000,-73.982472,40.748432,-73.969849,40.757076,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942059,2942059,2942059,378381,1,2023-10-27 13:28:04,2023-10-27 14:36:43,1.0,20.00,1.0,N,132,52,1,84.20,0.0,0.5,21.40,0.0,1.0,107.10,0.0,0.0,68.650000,-73.981834,40.746417,-73.995329,40.725084,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942060,2942060,2942060,1451223,2,2023-10-27 13:28:04,2023-10-27 13:38:25,1.0,1.67,1.0,N,238,263,1,12.10,0.0,0.5,3.22,0.0,1.0,19.32,2.5,0.0,10.350000,-73.967462,40.760223,-73.966655,40.753189,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942061,2942061,2942061,1766881,1,2023-10-27 13:28:04,2023-10-27 13:35:31,NaN,0.00,NaN,NaN,43,43,0,7.73,0.0,0.5,0.00,0.0,1.0,11.73,NaN,NaN,7.450000,-73.962929,40.766559,-73.972099,40.765517,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942062,2942062,2942062,1749528,2,2023-10-27 13:28:04,2023-10-27 14:00:06,1.0,4.42,1.0,N,161,42,1,28.90,0.0,0.5,6.58,0.0,1.0,39.48,2.5,0.0,32.033333,-73.966882,40.752545,-73.992580,40.724202,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488

In [14]:
pd.set_option('display.max_columns', None)

In [15]:
print(pp)

NameError: name 'pp' is not defined

In [16]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2942063 entries, 0 to 2942062
Data columns (total 36 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0.1           2942063 non-null  int64
 1   Unnamed: 0             2942063 non-null  int64
 2   index                  2942063 non-null  int64
 3   VendorID               2942063 non-null  int64
 4   tpep_pickup_datetime   2942063 non-null  object
 5   tpep_dropoff_datetime  2942063 non-null  object
 6   passenger_count        2817012 non-null  float64
 7   trip_distance          2942063 non-null  float64
 8   RatecodeID             2817012 non-null  float64
 9   store_and_fwd_flag     2817012 non-null  object
 10  PULocationID           2942063 non-null  int64
 11  DOLocationID           2942063 non-null  int64
 12  payment_type           2942063 non-null  int64
 13  fare_amount            2942063 non-null  float64
 14  extra                  2942063 non-null  float64
 15  mta_tax                2942063 non-null  float64
 16  tip_amount             2942063 non-null  float64
 17  tolls_amount           2942063 non-null  float64
 18  improvement_surcharge  2942063 non-null  float64
 19  total_amount           2942061 non-null  float64
 20  congestion_surcharge   2817012 non-null  float64
 21  airport_fee            2817012 non-null  float64
 22  trip_duraion           2942063 non-null  float64
 23  Plongitude             2919885 non-null  float64
 24  Platitude              2919885 non-null  float64
 25  Dlongitude             2904139 non-null  float64
 26  Dlatitude              2904139 non-null  float64
 27  pickup_date            2942063 non-null  object
 28  st_abb                 2942063 non-null  object
 29  st_code                2942063 non-null  int64
 30  date                   2942063 non-null  object
 31  stability              2942063 non-null  object
 32  tmin                   2942063 non-null  float64
 33  tmax                   2942063 non-null  float64
 34  tavg                   2942063 non-null  float64
 35  ppt                    2942063 non-null  float64
dtypes: float64(21), int64(8), object(7)
memory usage: 808.1+ MB

In [14]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2942063 entries, 0 to 2942062
Data columns (total 36 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0.1           int64
 1   Unnamed: 0             int64
 2   index                  int64
 3   VendorID               int64
 4   tpep_pickup_datetime   object
 5   tpep_dropoff_datetime  object
 6   passenger_count        float64
 7   trip_distance          float64
 8   RatecodeID             float64
 9   store_and_fwd_flag     object
 10  PULocationID           int64
 11  DOLocationID           int64
 12  payment_type           int64
 13  fare_amount            float64
 14  extra                  float64
 15  mta_tax                float64
 16  tip_amount             float64
 17  tolls_amount           float64
 18  improvement_surcharge  float64
 19  total_amount           float64
 20  congestion_surcharge   float64
 21  airport_fee            float64
 22  trip_duraion           float64
 23  Plongitude             float64
 24  Platitude              float64
 25  Dlongitude             float64
 26  Dlatitude              float64
 27  pickup_date            object
 28  st_abb                 object
 29  st_code                int64
 30  date                   object
 31  stability              object
 32  tmin                   float64
 33  tmax                   float64
 34  tavg                   float64
 35  ppt                    float64
dtypes: float64(21), int64(8), object(7)
memory usage: 808.1+ MB

In [15]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2942063 entries, 0 to 2942062
Data columns (total 36 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0.1           int64
 1   Unnamed: 0             int64
 2   index                  int64
 3   VendorID               int64
 4   tpep_pickup_datetime   object
 5   tpep_dropoff_datetime  object
 6   passenger_count        float64
 7   trip_distance          float64
 8   RatecodeID             float64
 9   store_and_fwd_flag     object
 10  PULocationID           int64
 11  DOLocationID           int64
 12  payment_type           int64
 13  fare_amount            float64
 14  extra                  float64
 15  mta_tax                float64
 16  tip_amount             float64
 17  tolls_amount           float64
 18  improvement_surcharge  float64
 19  total_amount           float64
 20  congestion_surcharge   float64
 21  airport_fee            float64
 22  trip_duraion           float64
 23  Plongitude             float64
 24  Platitude              float64
 25  Dlongitude             float64
 26  Dlatitude              float64
 27  pickup_date            object
 28  st_abb                 object
 29  st_code                int64
 30  date                   object
 31  stability              object
 32  tmin                   float64
 33  tmax                   float64
 34  tavg                   float64
 35  ppt                    float64
dtypes: float64(21), int64(8), object(7)
memory usage: 808.1+ MB

In [25]:

summary = pd.DataFrame({
    'dtype': df.dtypes,
    'non_null_count': df.count(),
    'null_count': df.isnull().sum(),
    'null_percent': (df.isnull().mean() * 100).round(2)
})

summary = summary.sort_values('null_percent', ascending=False)
print(summary)

                         dtype  non_null_count  null_count  null_percent
congestion_surcharge   float64         2817012      125051          4.25
store_and_fwd_flag      object         2817012      125051          4.25
RatecodeID             float64         2817012      125051          4.25
passenger_count        float64         2817012      125051          4.25
airport_fee            float64         2817012      125051          4.25
Dlatitude              float64         2904139       37924          1.29
Dlongitude             float64         2904139       37924          1.29
Platitude              float64         2919885       22178          0.75
Plongitude             float64         2919885       22178          0.75
index                    int64         2942063           0          0.00
Unnamed: 0               int64         2942063           0          0.00
Unnamed: 0.1             int64         2942063           0          0.00
VendorID                 int64         2942063           0          0.00
fare_amount            float64         2942063           0          0.00
payment_type             int64         2942063           0          0.00
tpep_pickup_datetime    object         2942063           0          0.00
trip_distance          float64         2942063           0          0.00
tpep_dropoff_datetime   object         2942063           0          0.00
PULocationID             int64         2942063           0          0.00
DOLocationID             int64         2942063           0          0.00
total_amount           float64         2942061           2          0.00
improvement_surcharge  float64         2942063           0          0.00
tolls_amount           float64         2942063           0          0.00
tip_amount             float64         2942063           0          0.00
mta_tax                float64         2942063           0          0.00
extra                  float64         2942063           0          0.00
trip_duraion           float64         2942063           0          0.00
pickup_date             object         2942063           0          0.00
st_abb                  object         2942063           0          0.00
st_code                  int64         2942063           0          0.00
date                    object         2942063           0          0.00
stability               object         2942063           0          0.00
tmin                   float64         2942063           0          0.00
tmax                   float64         2942063           0          0.00
tavg                   float64         2942063           0          0.00
ppt                    float64         2942063           0          0.00

In [10]:
df['PULocationID'].value_counts().reset_index(name='count').rename(columns={'index': 'PULocationID'})

     PULocationID   count
0             132  150198
1             237  141767
2             161  140998
3             236  126997
4             138  104486
..            ...     ...
246           251       1
247            84       1
248           118       1
249           105       1
250           187       1

[251 rows x 2 columns]

In [18]:
df.dtypes.to_csv("columns_dtypes.csv")

In [5]:
df[(df["payment_type"]== 0 )]

,Unnamed: 0.1,Unnamed: 0,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,...,Dlatitude,pickup_date,st_abb,st_code,date,stability,tmin,tmax,tavg,ppt
22,22,22,847982,1,2023-10-01 00:00:09,2023-10-01 00:17:25,NaN,0.00,NaN,NaN,...,40.760014,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
25,25,25,111719,2,2023-10-01 00:00:12,2023-10-01 00:23:23,NaN,5.76,NaN,NaN,...,40.774928,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
57,57,57,315516,1,2023-10-01 00:00:30,2023-10-01 00:19:20,NaN,0.00,NaN,NaN,...,40.720213,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
110,110,110,559944,1,2023-10-01 00:01:07,2023-10-01 00:12:02,NaN,0.00,NaN,NaN,...,40.716446,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
125,125,125,1076620,1,2023-10-01 00:01:14,2023-10-01 00:09:32,NaN,0.00,NaN,NaN,...,40.732426,2023-10-01,NY,36,2023-10-01,stable,9.610,21.318,15.464,0.546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941904,2941904,2941904,1820352,1,2023-10-27 13:26:28,2023-10-27 13:36:59,NaN,0.00,NaN,NaN,...,40.772965,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942015,2942015,2942015,1359980,2,2023-10-27 13:27:40,2023-10-27 13:51:33,NaN,3.19,NaN,NaN,...,40.778476,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942041,2942041,2942041,362235,1,2023-10-27 13:27:56,2023-10-27 13:47:04,NaN,0.00,NaN,NaN,...,40.747895,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942053,2942053,2942053,2059434,1,2023-10-27 13:28:00,2023-10-27 13:43:53,NaN,2.00,NaN,NaN,...,40.689146,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488
2942061,2942061,2942061,1766881,1,2023-10-27 13:28:04,2023-10-27 13:35:31,NaN,0.00,NaN,NaN,...,40.765517,2023-10-27,NY,36,2023-10-27,stable,11.208,21.218,16.213,0.488

NameError: name 'dfm' is not defined